* {
    background-color: #f7f7f7;
    color: #222;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 18px;
    padding: 20px;
}

.center_text {
    margin: 15px;  
    text-align: center; 
}

.input {
    border: 2px solid black;
}

.navbar {
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:sticky;
    padding: 10px 30px;
    margin-bottom: 30px;
    top: 0;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px 10px 0;
    transition: transform 0.1s;
}

.navbar a:hover {
    transform: scale(1.01);
}

button {
    background-color: #fafafa;
    color: black;
    padding: 8px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: #f8f8f8;
    transform: scale(1.01);
}
