* {
    background-color: #f7f7f7;
    color: #222;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 18px;
    padding: 20px;
}

.navbar {
    border: 2px solid black;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    transition: transform 0.1s;
}

.navbar a:hover {
    transform: scale(1.01);
}

button {
    background-color: #0077cc;
    color: white;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}
