<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Explore | Locally </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1 class="center_text"> Explore </h1>

    <!-- navigation bar -->
    <div class="navbar">
        <a href="{{ url_for('index') }}">Explore</a>

        {% if session.get("user_id") %}
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>

    <!-- explore page business listings-->
    <main class="page">
        <section class="card-grid">
            {% if businesses %}
                {% for business in businesses %}
                    <div class="card">
                        <form method="POST" action="{{ url_for('save_business', business_id=business.id) }}">
                            {% if business.id in saved_business_ids %}
                                <button class="card-save" type="button" disabled>Saved</button>
                            {% else %}
                                <button class="card-save" type="submit">Save</button>
                            {% endif %}
                        </form>

                        <div class="card-photo"> <!-- place holder for now, no images yet -->
                            Photo
                        </div>
                        
                        <div class="card-body">
                            <h2 class="card-title">{{ business.name|capitalize }}</h2>
                            <p class="card-location">{{ business.location|title }}</p>
                            <p class="card-description">{{ business.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="center_text">No businesses</p>
            {% endif %}
        </section>
    </main>
</body>

</html>
