<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title> Profile | Locally </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1 class="center_text"> Profile </h1>

    <!-- navigation bar -->
    <div class="navbar">
        <a href="{{ url_for('index') }}">Explore</a>

        {% if session.get("user_id") %}
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>

    <!-- user info -->
    <div class="center_text">
        <h2>Account Info</h2>
        <p><strong>Username:</strong>{{ user.username }}</p>
        <p><strong>Email:</strong>{{ user.email }}</p>
    </div>

    <!-- your business -->
    <div class="center_text">
        <h2>Your Business:</h2>
        {% if user_business %}
            <p><strong>Name:</strong> {{ user_business.name|capitalize }}</p>
            <p><strong>Category:</strong> {{ user_business.category }}</p>
            <p><strong>Description:</strong> {{ user_business.description }}</p>
            <p><strong>Location:</strong> {{ user_business.location|title }}</p>
        {% else %}
            <p>You haven't posted a business yet.</p>
            <a href="{{ url_for('post_business') }}">Post Your Business</a>
        {% endif %}
    </div>

    <!-- saved businesses -->
    <div class="center_text">
        <h2>Saved Businesses</h2>
    </div>
    <main class="page">
        <section class="card-grid one-column">
            {% if saved_businesses %}
                {% for business in saved_businesses %}
                    <div class="card">
                        <form method="POST" action="{{ url_for('unsave_business', business_id=business.id) }}">
                            <button class="card-save" type="submit">Saved</button>
                        </form>

                        <div class="card-photo">
                            Photo
                        </div>

                        <div class="card-body">
                            <h2 class="card-title">{{ business.name|capitalize }}</h2>
                            <p class="card-location">{{ business.location|title }}</p>
                            <p class="card-description">{{ business.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="center_text">You have not saved any businesses yet.</p>
            {% endif %}
        </section>
    </main>

    <!-- reviews (placeholder) -->
    <div class="center_text">
        <h2>Your Reviews</h2>
        <p>[Placeholder: Your reviews of businesses will appear here]</p>
    </div>
</body>

</html>
